#wrapper {
	background-color: green;
}

#header {
	background-color: rgb(50,75,60);
	width: 75%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}

.stripe {
	background-color: white;
	position: absolute;
	width: 10px;
	height: 700px;
	display: inline;
}

#leftstripe {
	float: left;
	left: 50px;
}

#rightstripe {
	float: right;
	right: 50px;
}



