#wrapper {
	background-color: green;
	height: auto;
	overflow: hidden;
	position: relative;
}

#header {
	background-color: rgb(50,75,60);
	width: 75%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
}

#header img {
	margin-top: 25px;
}

.stripe {
	background-color: rgb(50,75,60);
	position: absolute;
	width: 10px;
	height: 100%;
	display: inline;
}

#leftstripe {
	float: left;
	left: 50px;
}

#rightstripe {
	float: right;
	right: 50px;
}

#container {
	background-color: black;
	position: relative;
	width: 450px;
	height: 450px; 
	margin: 50px auto;
	display: block;
}



